body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(144, 173, 252);
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(26, 170, 122);
    border-radius: 5px;
    font-weight: 700;

}

h1{
    color:rgb(1, 66, 44)
}
p{
    width: 50%;
    text-align: center;
}

#results{
    font-weight: 700;
    font-size: 20px;
    border: 3 solid rgb(1, 66, 44);
    border-radius: 5px;
}
.opciones{
    display: flex;
    gap: 5px;
}
